.box {
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 8px solid #C080FF;
    text-align: center;
    color: #C080FF;
}
  
.box h2 {
    margin: 0 0 30px;
    padding: 0;
}
  
.user-box {
    position: relative;
}
  
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #C080FF;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #C080FF;
    outline: none;
    background: transparent;
}
  
.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #C080FF;
    pointer-events: none;
    transition: 0.5s;
}
  
.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #C080FF;
    font-size: 12px;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    width: 19rem;
    height: 5rem;
    color: #C080FF;
    background-color: transparent;
    margin-top: 0.5rem;
    border: 2px solid #C080FF;
    border-radius: 2px;
}
  
.btn-contact {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #C080FF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
  
.btn-contact:hover {
    background: #C080FF;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #C080FF, 0 0 25px #C080FF, 0 0 50px #C080FF, 0 0 100px #C080FF;
}
  
.btn-contact span {
    position: absolute;
    display: block;
}
  
.btn-contact span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #C080FF);
    animation: btn-anim1 1s linear infinite;
}
  
.btn-contact span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #C080FF);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
  
.btn-contact span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #C080FF);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}
  
.btn-contact span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #C080FF);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
  
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
}
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
}
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
}
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
}
  
@media (min-width: 320px) and (max-width: 425px) {
    .box {
        width: 90%;
        padding: 40px;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        border: 8px solid #C080FF;
        text-align: center;
        color: #C080FF;
    }
    textarea {
        width: 100%;
        height: 5rem;
        color: #C080FF;
        background-color: transparent;
        margin-top: 0.5rem;
        border: 2px solid #C080FF;
        border-radius: 2px;
      }
}