.footer {
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: 3px solid #C080FF;
}

.btn-footer {
    width: 3rem;
    height: 3rem;
    border-radius: 250px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-footer img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
